/* ===== globle css ======================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #f9f9f9;
    color: rgb(65, 63, 63);
    position: relative;
}

input {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    color: inherit;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2em;
    resize: none;

}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dropdown select {
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 4px;
    outline: none;
    text-indent: 0.01px;
    background-color: #7a40f2;
    color: #fff;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}

.dropdown::before,
.dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.dropdown::after {
    /*  Custom dropdown arrow */
    /* content: "\25BC"; */
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

/* ===== common class ======================= */

.btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.btn:hover {
    opacity: 0.7;
}

.btn:focus {
    outline: none;
}

.lg-btn {
    padding: 12px 40px;
}

.md-btn {
    padding: 12px 20px;
}

.sm-btn {
    padding: 12px 10px;
}

.full-btn {
    width: 100%;
    padding: 12px 15px;
}

.full-width {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;
    background-color: #fff;
}

.b-radius {
    border-radius: 20px;
}

.link {
    color: #7a40f2;
    font-weight: 600;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.l-hide {
    display: none;
}


.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-field label {
    font-weight: 900;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.child {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-20 {
    margin: 20px;
}

.m-top {
    margin-top: 20px;
}

.m-bottom {
    margin-bottom: 20px;
}

.m-left {
    margin-left: 20px;
}

.m-right {
    margin-right: 20px;
}

.p-20 {
    padding: 20px;
}

.p-top {
    padding-top: 20px;
}

.p-bottom {
    padding-bottom: 20px;
}

.p-left {
    padding-left: 20px;
}

.p-right {
    padding-right: 20px;
}

.c-blue {
    background-color: #7a40f2;
    color: #fff;
}

.c-danger {
    background-color: #ff9060;
    color: #fff;
}

.c-blue-soft {
    background-color: rgb(129, 168, 248);
    color: #fff;
}

.c-warning-soft {
    background-color: rgb(252, 228, 124);
    color: #fff;
}

.c-danger-soft {
    background-color: #FFB9C3;
    color: #fff;
}

.c-success-soft {
    background-color: rgb(137, 230, 197);
    color: #fff;
}

/* ===== Layer-out ======================= */

.dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-gap: 20px;
    height: 100vh;
    padding: 20px;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 20px;
}

/* ==== login page =========================== */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

/* ==== Edit Password page =========================== */
.edit-password {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-password form {
    max-width: 500px;
    align-items: center;
}

/* ===== MENU ================================ */
.menu {
    width: 90px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu .logo {
    font-size: 30px;
    margin: 30px 0;
}

.menu nav {
    font-size: 25px;
    width: 100%;
}

.menu nav ul {
    margin-left: 20px;
    width: 100%;
}

.menu nav li {
    margin: 20px 0;
    width: 100%;
    padding: 15px;
    border-radius: 25px 0 0 25px;
}

.menu nav li:hover {
    background-color: #fff;
    color: #7a40f2;
}

.active {
    background-color: #fff;
    color: #7a40f2;
}

/* ===== Main ======================= */
.main {
    flex: 1;
    padding-left: 20px;
    overflow-y: auto;
}

.main::-webkit-scrollbar {
    display: none;
}

/* ===== header ============= */
.main-header {
    margin-bottom: 20px;
    height: 50px;
}

.search {
    max-width: 500px;
}

.search input {
    border: none;
    font-size: 18px;
    background-color: #EDEEF4;
    border-radius: 10px;
}

.settigns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settigns .flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settigns .flex i {
    font-size: 25px;
    margin-right: 20px;
}

.settigns img {
    width: 50px;
}

/* ===== tables ============= */
.welcome {
    background-color: #FFECC8;
    border-radius: 20px;
    height: 200px;
    align-items: center;
}

.welcome .message {
    color: #CA6A17;
}

.welcome .graphic {
    height: 100%;
}

.welcome .graphic img {
    object-fit: scale-down;
}

/* ===== summary ============= */
.summary {
    width: 500px;
    background-color: #EDEEF4;
    height: 85vh;
}

.summary .summary-card {
    height: 20vh;
    justify-content: space-between;
}

.summary .card .flex {
    align-items: flex-start;
    justify-content: space-between;
}

.summary .card i {
    font-size: 50px;
}

/* ======= table css ======= */

#main-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-title {
    margin: 10px;

}

#main-table td,
#main-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#main-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#main-table tr:hover {
    background-color: #ddd;
}

#main-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border: none;
}

.overflow {
    overflow-x: scroll;
}

@media only screen and (max-width : 768px) {
    .s-hide {
        display: none;
    }

    .l-hide {
        display: block;
    }

    /* =============== layout ============= */
    .dashboard {
        width: 100%;
        display: block;
        height: 100vh;
        padding: 20px;
        position: relative;
    }

    /* ===== MENU ================================ */
    .menu {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;

    }

    .menu nav li a {
        display: flex;
        flex-direction: row;
    }

    .menu nav li a i {
        margin-right: 20px;
    }

    /* ===== Main ======================= */
    .main {
        flex: 1;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .main .table-container {
        flex: 1;
        padding-left: 0;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
    }

    .main::-webkit-scrollbar {
        display: none;
    }

    /* ===== summary ============= */
    .summary {
        width: 100%;
        background-color: #EDEEF4;
        height: 100%;
        margin: 0 0 20px 0;
    }

    /* ===== header ============= */

    .search {
        max-width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search i {
        margin-right: 20px;
        font-size: 35px;
    }
}